<div class="grid-zone-wrap">
	<div class="grid-zone__label">Inoperable Equipment</div>
	<div class="grid-zone__content">
		<template is="dom-repeat" items=[[equipment]] as="category">

			<div class$="equipment-category equipment-category--[[ category._id ]]">
				<div class="grid-zone__label">{{ category.label }} ({{ category.renderedItemCount }})</div>
				<div class="equipment-list">
					<template is="dom-repeat" 
										items=[[getAllCategoryItems(category)]] 
										filter="{{applyFilters(statusFilter, availabilityFilter, allocationFilter)}}"
										sort="{{sortAlphaByLabel}}"
										rendered-item-count="{{category.renderedItemCount::dom-change}}" 
										notify-dom-change mutable-data
					>
						<div class="equipment-list__item">
							<div class="equipment-list__item__icon-group">
								<rux-icon size="40"
													on-click="_openTab" 
													icon="[[getIconByCategory(category._id)]]" 
													class$="equipment-list__item__icon rux-status--[[item.status]]"></rux-icon>
							</div>  
							<div class="equipment-list__item__label">[[ item.label ]]</div>
						</div>

					</template>
				</div>

			</div>

		</template>
	</div>
</div>