/* 
	CSS 
	=================================================
	For use with component specific CSS styles here

	Keep in mind special component specific style elements like:
		:host https://developer.mozilla.org/en-US/docs/Web/CSS/:host()
		::slotted https://developer.mozilla.org/en-US/docs/Web/CSS/::slotted

*/
:host {
  flex-grow: 1;
  flex-flow: column;
  display: flex;
  padding-right: 1.5rem;
  overflow: hidden;
}

.grid-zone__label {
  flex: none;
  background: rgba(20, 31, 44, 0.5);
  padding: 10px 15px;
  color: white;
  font-size: 1.35rem;
  font-weight: 300;
  flex-flow: row nowrap;
  justify-items: start;
  align-items: center;
  display: flex;
  justify-content: start;
}
:host > .grid-zone__label {
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.grid-zone__content {
  overflow-y: auto;
  padding: 1rem;
}

.grid-zone-wrap {
  background: #1d2f41;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 0.5rem;
  flex-flow: column;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.equipment-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 9rem);
  grid-gap: 1rem;
  justify-content: space-between;
}

.equipment-list__item {
  position: relative;
  line-height: 0;
  flex: 1 0 12.5%;
  min-width: 9rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.equipment-list__item__icon-group {
  position: relative;
  display: flex;
  justify-content: center;
}

.equipment-list__item__label {
  text-align: center;
  color: var(--fontColor, #fff);
  font-size: 0.85rem;
  line-height: 1.2;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.rux-status--off {
  fill: var(--colorOff, rgb(158, 167, 173));
}

.rux-status--standby {
  fill: var(--colorStandby, rgb(45, 204, 255));
}

.rux-status--normal,
.rux-status--ok {
  fill: var(--colorNormal, rgb(86, 240, 0));
}

.rux-status--caution {
  fill: var(--colorCaution, rgb(252, 232, 58));
}

.rux-status--error,
.rux-status--serious {
  fill: var(--colorSerious, rgb(255, 179, 0));
}

.rux-status--emergency,
.rux-status--alert,
.rux-status--critical {
  fill: var(--colorCritical, rgb(255, 56, 56));
}

/* Icon */
.equipment-list__item__icon::before {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  content: '';
  display: block;
  position: relative;
  margin-bottom: -10px;
  margin-left: -20px !important;
  height: 16px;
  width: 16px;
}

/* Specific Status Iconography */
.rux-status--off.equipment-list__item__icon::before {
  background-image: var(
    --statusOff,
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%20fill%3D%22%238C9AA3%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  );
}

.rux-status--standby.equipment-list__item__icon::before {
  background-image: var(
    --statusStandby,
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%224.5%22%20fill%3D%22none%22%20stroke%3D%22%231EDCFF%22%20stroke-width%3D%223%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  );
}

.rux-status--normal.equipment-list__item__icon::before,
.rux-status--ok.equipment-list__item__icon::before {
  background-image: var(
    --statusNormal,
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%226%22%20fill%3D%22%2300E600%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  );

  /* background-position: 1px 1px; */
}

.rux-status--caution.equipment-list__item__icon::before {
  background-image: var(
    --statusCaution,
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFD800%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2%204H14V12H2z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  );

  /* background-position: 1px 1px; */
}

.rux-status--serious.equipment-list__item__icon::before,
.rux-status--error.equipment-list__item__icon::before {
  background-image: var(
    --statusSerious,
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFAB00%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3%203H12V12H3z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  );
  margin-top: 1px;
  transform: rotate(45deg);
}

.rux-status--critical.equipment-list__item__icon::before,
.rux-status--alert.equipment-list__item__icon::before,
.rux-status--emergency.equipment-list__item__icon::before {
  background-image: var(
    --statusCritical,
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22red%22%20fill-rule%3D%22evenodd%22%20d%3D%22M15%2013.667L1%2013.667%208%202z%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  );
  transform: rotate(180deg);
  background-position: 0 -1px;
}
