/* 
	CSS 
	=================================================
	For use with component specific CSS styles here

	Keep in mind special component specific style elements like:
		:host https://developer.mozilla.org/en-US/docs/Web/CSS/:host()
		::slotted https://developer.mozilla.org/en-US/docs/Web/CSS/::slotted

*/
:host {
	overflow-y: auto;
	padding-right: .5rem;
}

.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, .5);
	padding: 10px 15px;
	color: white;
	font-size: 1.35rem;
	font-weight: 300;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}
:host > .grid-zone__label {
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0,0,0, .25);
}

.grid-zone__content {
	overflow-y: auto;
	padding: 1rem;
}
.grid-zone--fixed {
	overflow: hidden;
}

.grid-zone--fixed .grid-zone__content {
	flex-flow: column;
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	padding: 0;
}
.grid-zone--fixed .grid-zone__label {
	background: rgba(113, 189, 255, .03);
}

.grid-zone-wrap {
	background: #1D2F41;
	border: 1px solid rgba(255,255,255, .2);
	margin-bottom: 1rem;
	overflow: hidden;
}

.equipment-details-grid {
	overflow: hidden;
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	grid-template-columns: minmax(30%, 600px) auto;
	grid-template-rows: fit-content(100%) 500px;
	grid-template-areas:
		"eqd-header eqd-header"
		"eqd-left eqd-right";
}

.grid-zone--equipment-header {
	grid-area: eqd-header;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	background: rgba(113, 189, 255, .03);
	height: 16rem;
}
.grid-zone--equipment-alerts {
	grid-area: eqd-left;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}
.grid-zone--equipment-contacts {
	grid-area: eqd-right;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.equipment-name {
	padding: 10px 15px;
	color: white;
	font-size: 1.35rem;
	font-weight: 300;
	margin-bottom: .5rem;
}
.equipment-name .rux-status {
	display: inline-block;
}

.equipment-header {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	flex-grow: 1;
	padding-bottom: 1rem;
}
.equipment-header__detail {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column;
	overflow: hidden;
}

.equipment-header__detail--equipment-states {
	flex: 0 0 16rem;
}
.equipment-header__detail--equipment-description { 
	padding: 0 1rem;
	flex: 0 0 27rem;
}
.equipment-header__detail--equipment-event-log {
	flex-grow: 1;
	margin-right: 1rem;
}
.equipment-header__detail--equipment-event-log .rux-log {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	overflow: hidden;
	background: rgb(24, 38, 53);
}
.equipment-header__detail--equipment-states .rux-segmented-button {
	margin: .25rem 1rem;
}

.equipment-header__detail__label {
	font-size: 14px;
	color: #989898;
	margin-bottom: .5rem;
}
.equipment-header__detail__content {
	background: #1D2F41;
	font-size: 14px;
	padding: .5rem;
	flex-grow: 1;
	overflow-y: scroll;
}

.grid-zone__content.maintenance-jobs {
	flex-flow: row;
	background: rgba(113, 189, 255, .03);
	margin-bottom: 1rem;
	padding-bottom: 2rem;
}

.maintenance-jobs__actions {
	flex: 0 1 8rem;
	margin-left: 1.5em;
}
.maintenance-jobs__actions .rux-button {
	margin: auto;
}
.maintenance-jobs__list {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 17rem);
	grid-gap: 1.5rem; 
	margin-left: 1.5rem;
}
.job-card {
	background: rgba(113, 189, 255, 0.1);
	padding: 1rem 1.5rem;
}
.job-card__id {
	margin-bottom: .2rem;
}
.job-card__progress {
	margin: 0 0 1.5rem;
	font-size: 14px;
}
.job-card__meta {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: .5rem;
}
.job-card__meta__label {
	font-size: 14px;
	color: #fff;
	padding: 0.5rem 0;
	flex: 1 1 40%;
}
.job-card__meta__value {
	flex: 1 1 60%;
	font-size: 14px;
	padding: 0.5rem .75rem;
	background: rgba(23, 38, 53, 0.6);
	line-height: 1.3;
}
.job-card .rux-button {
	margin: 1.5rem auto .5rem;
}

.grid-zone__content.maintenance-log {
	background: rgba(113, 189, 255, .03);
	padding: 1rem .5rem .5rem;
}


.maintenance-log {
	display: flex;
	flex-flow: column;
	font-size: 0.9rem;
	height: 15rem;
}

.maintenance-log-header {
	display: flex;
	flex: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
}

.maintenance-log__header-labels {
	display: flex;
	flex-grow: 1;
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
	font-weight: bold;
	flex-shrink: 0;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	border-width: 1px 0;
}

.maintenance-log__events {
	padding: 0;
	margin: 0;
	list-style: none;
}

.maintenance-log__events {
	height: 100%;
	min-height: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.maintenance-log__event {
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: 0.5rem;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.maintenance-log__event:last-child {
	border-bottom: none;
}

.maintenance-log__event__status {
	flex-grow: 0;
	flex-shrink: 0;
	width: 2rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
}

.maintenance-log__event__name,
.maintenance-log__event__type,
.maintenance-log__event__created,
.maintenance-log__event__start,
.maintenance-log__event__stop,
.maintenance-log__event__technician,
.maintenance-log__event__description {
	flex: 0 0 15%;
	text-align: left;
	padding: 0 .7rem;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.maintenance-log__event__name 			 { flex: 0 0 5rem; }
.maintenance-log__event__type 			 { flex: 0 0 5rem; }
.maintenance-log__event__created,
.maintenance-log__event__start,
.maintenance-log__event__stop 		   { flex: 0 0 8rem; }
.maintenance-log__event__technician  { flex: 0 0 12rem; }
.maintenance-log__event__description { flex: 1 1 50%; }

