<div class="grid-zone-wrap">
	<div class="grid-zone__label">Equipment Details</div>
	<div class="grid-zone__content equipment-details-grid">
		<div class="grid-zone grid-zone--fixed grid-zone--equipment-header">
			<div class="grid-zone__content">
				<div class="equipment-name">
					<rux-status class="rux-status" status="[[selectedEquipment.status]]"></rux-status>
					[[selectedEquipment.label]]
				</div>
				<div class="equipment-header">
					<div class="equipment-header__detail equipment-header__detail--equipment-states">
							<rux-segmented-button class="rux-segmented-button" data=[[onlineState]]></rux-segmented-button>
							<rux-segmented-button class="rux-segmented-button" data=[[consideredState]]></rux-segmented-button>
					</div>
					<div class="equipment-header__detail equipment-header__detail--equipment-description">
						<div class="equipment-header__detail__label">Description</div>
						<div class="equipment-header__detail__content">[[ sampleEquipmentData.description ]]</div>
					</div>
					<div class="equipment-header__detail equipment-header__detail--equipment-event-log">
						<div class="equipment-header__detail__label">Event Log</div>
						<rux-log class="rux-log" max-lines=5 log=[[equipmentLogData]]></rux-log>
					</div>
				</div>
			</div>
		</div>

		<div class="grid-zone grid-zone--equipment-alerts grid-zone--fixed">
			<div class="grid-zone__label">
				Alerts
			</div>
			<div class="grid-zone__content">
				<grm-alerts log="{{alertsLog}}"></grm-alerts>
			</div>
		</div>

		<div class="grid-zone grid-zone--equipment-contacts grid-zone--fixed">
			<div class="grid-zone__label">
				Current Contacts
			</div>
			<div class="grid-zone__content">
				<current-contacts log="[[contactsLog]]"></current-contacts>
			</div>
		</div>

	</div>
</div>

<div class="grid-zone-wrap">
	<div class="grid-zone__label">Maintenance</div>
	<div class="grid-zone__content">	
		<div class="grid-zone grid-zone--maintenance-jobs grid-zone--fixed">
			<div class="grid-zone__label">
				Jobs
			</div>
			<div class="grid-zone__content maintenance-jobs">
				<div class="maintenance-jobs__actions">
					<button class="rux-button" on-click="createJob">Schedule Job</button>
				</div>
				<div class="maintenance-jobs__list">
					<template is="dom-repeat" as="job" items=[[sampleEquipmentData.maintenanceJobs]]>
						<div class="job-card">
							<h3 class="job-card__id">Job ID [[ job.id ]]</h3>
							<h4 class="job-card__progress">[[ mapJobProgress(job.progressStep) ]]</h4>
							<div class="job-card__meta">
								<label class="job-card__meta__label">Job Type</label>
								<div class="job-card__meta__value">[[ mapJobType(job.type)]]</div>
							</div>
							<div class="job-card__meta">
								<label class="job-card__meta__label">Year</label>
								<div class="job-card__meta__value">[[formatYear(job.startTime)]]</div>
							</div>
							<div class="job-card__meta">
								<label class="job-card__meta__label">DOY</label>
								<div class="job-card__meta__value">[[formatDayOfYear(job.endTime)]]</div>
							</div>
							<div class="job-card__meta">
								<label class="job-card__meta__label">Start</label>
								<div class="job-card__meta__value">[[formatReadableTime(job.startTime)]]</div>
							</div>
							<div class="job-card__meta">
								<label class="job-card__meta__label">Stop</label>
								<div class="job-card__meta__value">[[formatReadableTime(job.endTime)]]</div>
							</div>
							<button class="rux-button" on-click="viewJobDetails">View Details</button>
						</div>
					</template>
				</div>
			</div>
			<rux-notification class="rux-notification" opened="{{ notificationOpen }}" close-after=8
			message="{{ notificationMessage }}"></rux-notification>
		</div>
		<div class="grid-zone grid-zone--maintenance-history grid-zone--fixed">
		<div class="grid-zone__label">
			Maintenance History
		</div>
		<div class="grid-zone__content maintenance-log">
			<header class="maintenance-log-header">
				<div class="maintenance-log__header-labels">
					<div class="maintenance-log__event__name">Name</div>
					<div class="maintenance-log__event__type">Type</div>
					<div class="maintenance-log__event__created">Created</div>
					<div class="maintenance-log__event__start">Started</div>
					<div class="maintenance-log__event__stop">Stopped</div>
					<div class="maintenance-log__event__technician">Technician</div>
					<div class="maintenance-log__event__description">Description</div>
				</div>
			</header>
			<ol class="maintenance-log__events">
				<template is="dom-repeat" id="maintenanceLogData" items="[[sampleEquipmentData.maintenanceLog]]" as="event">
					<li class="maintenance-log__event">
						<div class="maintenance-log__event__name">[[ event.id ]]</div>
						<div class="maintenance-log__event__type">[[ mapJobType(event.type) ]]</div>
						<div class="maintenance-log__event__created">[[ formatDayOfYear(event.createdTime) ]] [[ formatReadableTime(event.createdTime) ]]</div>
						<div class="maintenance-log__event__start">[[ formatDayOfYear(event.startTime) ]] [[ formatReadableTime(event.startTime) ]]</div>
						<div class="maintenance-log__event__stop">[[ formatDayOfYear(event.endTime) ]] [[ formatReadableTime(event.endTime) ]]</div>
						<div class="maintenance-log__event__technician">[[ event.technician ]]</div>
						<div class="maintenance-log__event__description">[[ event.description ]]</div>
					</li>
				</template>
			</ol>
		</div>
	</div>
</div>