<ul class="status-indicators">
	<li class="status-indicators__indicator">
		<rux-status on-click="_click" status="[[status.rfStatus.worstStatus]]" label="RF" icon="monitoring:antenna" notifications=[[status.rfStatus.numMessages]]>
		</rux-status>
	</li>
	<li class="status-indicators__indicator">
		<rux-status on-click="_click" status="[[status.digitalStatus.worstStatus]]" label="Digital" icon="monitoring:processor-alt"
		 notifications=[[status.digitalStatus.numMessages]]>
		</rux-status>
	</li>
	<li class="status-indicators__indicator">
		<rux-status on-click="_click" status="[[status.commsStatus.worstStatus]]" label="Comms" icon="monitoring:antenna-receive" notifications=[[status.commsStatus.numMessages]]>
		</rux-status>
	</li>
	<li class="status-indicators__indicator">
		<rux-status on-click="_click" status="[[status.facilitiesStatus.worstStatus]]" label="Facilities" icon="monitoring:antenna-off"
		 notifications=[[status.facilitiesStatus.numMessages]]>
		</rux-status>
	</li>
</ul>