:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: var(--treeBackgroundColor, rgb(30, 47, 66));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --itemPadding: 0.5rem;
  --triangleWidth: 7px;
  --selectedBorderWidth: 5px;
  --treeItemTopBorderColor: rgb(40, 63, 88);
  --treeItemBottomBorderColor: #16232f;

  border-bottom-width: 0;
}

:host([compact]) {
  font-size: 0.95rem;

  --itemPadding: 0.35rem;
  --triangleWidth: 5px;
  --selectedBorderWidth: 3px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.rux-tree {
  width: 100%;
  padding: 0;
  margin: 0;
}

.rux-tree ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rux-tree li:not(:first-child) {
  border-top: 1px solid var(--treeItemTopBorderColor);
}

/* Parent Elements */
.rux-tree__parent-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  padding: 0 0 0 calc(var(--itemPadding, 0.5rem) * 2.5);
  margin: 0;
}
.rux-tree__children .rux-tree__parent-container {
  padding: 0 0 0 calc(var(--itemPadding, 0.5rem) * 4);
}

.rux-tree__label {
  flex-grow: 1;
  padding: var(--itemPadding, 0.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - var(--triangleWidth, 7px));
  background-color: transparent;
}

.rux-tree__arrow {
  position: relative;
  cursor: pointer;
  width: var(--triangleWidth, 7px);
  visibility: hidden;
  background-color: transparent;
}

.rux-tree__arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--triangleWidth, 7px) 0 var(--triangleWidth, 7px)
    var(--triangleWidth, 7px);
  border-color: transparent transparent transparent
    var(--treeAccentColor, rgb(77, 172, 255));
  display: inline-block;
}
.rux-tree__arrow::before {
  content: '';
  width: calc(var(--itemPadding, 0.5rem) * 3);
  height: calc(var(--itemPadding, 0.5rem) * 3);
  display: block;
  position: absolute;
  left: calc(var(--itemPadding, 0.5rem) * -2);
  top: 0;
  pointer-events: all;
}

.has-children .rux-tree__arrow {
  visibility: visible;
}

/* Child Elements */
.rux-tree__children {
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  height: 0;
}
.rux-tree__grandchildren {
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.rux-tree__child {
  padding-left: calc(var(--itemPadding, 0.5rem) * 6);
  display: flex;
  align-content: center;
}

.rux-tree__child .rux-status {
  padding: var(--itemPadding, 0.5rem) 0;
}

/* Expanded */
.expanded > .rux-tree__parent-container > .rux-tree__arrow::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.expanded .rux-tree__children .expanded .rux-tree__grandchildren,
.expanded .rux-tree__children {
  display: block;
  height: auto;
}

.selected {
  background-color: var(--treeSelectedBackgroundColor, rgb(0, 68, 107));
  box-shadow: inset var(--selectedBorderWidth, 5px) 0
    var(--treeSelectedAccentColor, rgb(77, 172, 255));
  color: var(--treeSelectedTextColor, rgb(255, 255, 255));
}

.selected .rux-tree__arrow::after {
  border-color: transparent transparent transparent
    var(--treeSelectedAccentColor, rgb(77, 172, 255));
}
