<menu class="rux-tree">
	<ul class="rux-tree__parent-elements">
		<template is="dom-repeat" id="tree" items=[[data]]>

			<li title=[[item.label]] class$="rux-tree__parent {{_getExpanded(item.expanded)}} {{_hasChildren(item.children)}}">
				<div class$="rux-tree__parent-container {{_getSelected(item.selected)}}">
					<i class="rux-tree__arrow" on-click="_expand" title="Expand"></i>
					<div class="rux-tree__label" on-click="_expand">[[item.label]]</div>
				</div>

				<menu class="rux-tree__children" hidden=[[!item.children]]>
					<ul>
						<template is="dom-repeat" id="rux-tree__children-data" items=[[item.children]]>
							<li title=[[item.label]] class$="rux-tree__parent {{_getExpanded(item.expanded)}} {{_hasChildren(item.children)}}">
								<div class$="rux-tree__parent-container {{_getSelected(item.selected)}}">
									<i class="rux-tree__arrow" on-click="_expand" title="Expand"></i>
									<div class="rux-tree__label" on-click="_expand">[[item.label]]</div>
								</div>

								<menu class="rux-tree__grandchildren" hidden=[[!item.children]]>
									<ul>
										<template is="dom-repeat" id="rux-tree__grandchildren-data" items=[[item.children]]>
											<li title=[[item.label]] class$="rux-tree__child {{_getSelected(item.selected) }}" on-click="_select">
													<rux-status class="rux-status" status="[[item.status]]"></rux-status>
												<div class="rux-tree__label">[[item.label]]</div>
											</li>
										</template>
									</ul>
								</menu>

							</li>
						</template>
					</ul>
				</menu>

			</li>
		</template>
	</ul>
</menu>