:host {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  margin: 0;
  min-width: 5rem;
  text-decoration: none;
  color: var(--tabTextColor, rgb(77, 172, 255));
}

:host span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host(:hover) {
  color: var(--tabHoverTextColor, rgb(255, 255, 255));
}

:host([disabled]) {
  opacity: var(--disabledOpacity, 0.4);
  cursor: var(--disabledCursor, not-allowed);
}

:host([compact]),
:host([interior]) {
  min-width: 2rem;
}

:host([transparent]) {
  background-color: transparent;
}

:host([selected]) {
  color: var(--tabSelectedTextColor, rgb(255, 255, 255));
  box-shadow: inset 0 -5px 0 var(--tabSelectedBorderColor, rgb(77, 172, 255));
}

:host([interior][selected]) {
  box-shadow: inset 0 -2px 0 var(--tabSelectedBorderColor, rgb(77, 172, 255));
}

:host([compact][selected]) {
  box-shadow: inset 0 -3px 0 var(--tabSelectedBorderColor, rgb(77, 172, 255));
}

rux-icon {
  border-radius: 50%;
  position: absolute;
  right: 0.25rem;
  top: 1.3rem;

  /* background-color: #fff; */
}

rux-icon[hidden] {
  display: none !important;
}
