:host {
  display: block;

  /* display: block;
  position: relative;
  visibility: visible;
  height: 0;
  overflow: hidden;
  z-index: 1; */
}

:host(.hidden) {
  display: none !important;

  /* position: absolute;
  visibility: hidden !important;
  z-index: -1; */
}
