:host,
.rux-tabs {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;

  /* height: 5.625rem; */
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}

:host([main]) {
  height: 100%;
}

:host([compact]) {
  height: 3.125rem;
  font-size: 1rem;
}

:host([interior]) {
  height: 2.25rem;
  font-size: 0.875rem;
}

/* rux-panes */
.rux-tabs__panels {
  margin: 0;
  padding: 0;
  display: flex;
  align-self: flex-start;
  contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}
