<span>
	<slot></slot>
	<!-- <rux-button type="icon" icon="component:close-small"  >Close</rux-button> -->
	<rux-icon on-click="_closeTab" class="rux-tab__close-button" icon="component:close-small" color="#fff" size="14"
	 hidden=[[!dynamic]]></rux-icon>
</span>