<li class$="[[animationClass]] contact-log__event contact-log--[[toggleClass]]" on-click="toggleExpand">
	<div class="contact-log__event__status">
		<rux-status status="[[status]]"></rux-status>
	</div>
	<div class="contact-log__event__name">{{ name }}</div>
	<div class="contact-log__event__ground">{{ ground }}</div>
	<div class="contact-log__event__equipment" title="{{ equipment }}">
		{{ equipment }}
	</div>
	<div class$="contact-log__event__state contact-log__event__state--[[status]]" title="{{ capitalize(state) }} ({{ stateDetail }})">
		{{ capitalize(state) }} (Step: {{ stateDetail }})
	</div>
	<div class="contact-log__event__timestamp">
		<time datetime$="{{formatMachineTime(begin)}}">{{formatReadableTime(begin)}}</time>
		&ndash;
		<time datetime$="{{formatMachineTime(end)}}">{{formatReadableTime(end)}}</time>
	</div>
</li>
<div class="contact-log__detail">
	<div class="contact-log__detail__text">{{ detail }}</div>
	<div class="contact-log__detail__command-mode">
		<label for="commandModeSelector">Command Mode</label>
		<select id="commandModeSelector" value="{{ mode::change }}" class="rux-select" required>
			<dom-repeat items="{{ commandModes }}">
				<template is="dom-repeat" items="{{ commandModes }}">
					<option value$="{{ item }}" selected$="[[is(mode, item)]]">{{ item }}</option>
				</template>
			</dom-repeat>
		</select>
	</div>
</div>