<div class="contact-bin-header">
	<div class="contact-summary contact-summary--all">
		<span class="contact-count"> {{ log.length }} </span> Contact{{
		isPlural(log.length) }}
	</div>
	<div class="contact-summary contact-summary--failed">
		<span class="contact-count"> {{ numFailed }} </span> Failed
	</div>
	<div class="contact-summary contact-summary--executing">
		<span class="contact-count"> {{ numExecuting }} </span> Executing
	</div>

	<div class="contact-filters">
		<div class="contact-filter">
			<label for="stateFilter">Status</label>
			<select id="stateFilter" value="{{ stateFilter::change }}" class="rux-select" required>
				<dom-repeat items="{{potentialStates}}">
					<template is="dom-repeat" items="{{potentialStates}}">
						<option value$="{{item.stateName}}" selected$="[[is(stateFilter, item.stateName)]]">{{capitalize(item.stateName)}}</option>
					</template>
				</dom-repeat>
			</select>
		</div>
	</div>
</div>
<div class="contact-log">
	<header class="contact-log-header">
		<div class="contact-log__header-labels">
			<div class="contact-log__event__status"></div>
			<div class="contact-log__event__name">Name</div>
			<div class="contact-log__event__ground">GS</div>
			<div class="contact-log__event__equipment">Equipment String</div>
			<div class="contact-log__event__state">Status</div>
			<div class="contact-log__event__timestamp">AOS &ndash; LOS</div>
		</div>
		<template is="dom-if" if="{{!noFiltersSet}}">
			<div class="contact-log__filter-enabled">
				<div>
					You have one or more filters selected. <br />
					<a on-click="clearFilters">Clear filters</a> to display all
					alerts.
				</div>
			</div>
		</template>
	</header>

	<ol class="contact-log__events">
		<template is="dom-repeat" id="contactLogData" items="{{log}}" as="item" sort="{{sortcontactsByStartTime}}" filter="{{applyFilters(stateFilter)}}"
		 rendered-item-count="{{renderedItemCount::dom-change}}" notify-dom-change mutable-data>
			<contact-item restamp index="[[index]]" bind="[[item]]" id="[[item.contactId]]" name="[[item.contactName]]" ground="[[item.contactGround]]"
			 equipment="[[item.contactEquipment]]" state="[[item.contactState]]" state-detail="[[item.contactStep]]" detail="[[item.contactDetail]]"
			 begin="[[item.contactBeginTimestamp]]" end="[[item.contactEndTimestamp]]" expanded="[[item.expanded]]"></contact-item>
		</template>
	</ol>
</div>