/* 
	CSS 
	=================================================
	For use with component specific CSS styles here

	Keep in mind special component specific style elements like:
		:host https://developer.mozilla.org/en-US/docs/Web/CSS/:host()
		::slotted https://developer.mozilla.org/en-US/docs/Web/CSS/::slotted

*/
:host {
	flex-grow: 1;
	flex-flow: column;
	display: flex;
	padding-right: 1.5rem;
	overflow: hidden;
}


.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, .5);
	padding: 10px 15px;
	color: white;
	font-size: 1.35rem;
	font-weight: 300;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}
:host > .grid-zone__label {
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0,0,0, .25);
}

.grid-zone__content {
	overflow-y: auto;
	padding: 1rem;
}
.grid-zone--fixed {
	overflow-y: auto;
	flex-flow: column;
	display: flex;
}

.grid-zone--fixed .grid-zone__label {
	background: rgba(113, 189, 255, .03);
}
.grid-zone--fixed .grid-zone__content {
	flex-flow: column;
	display: flex;
	flex-grow: 1;
	overflow: auto;
	padding: 0;
}

.grid-zone-wrap {
	background: #1D2F41;
	border: 1px solid rgba(255,255,255, .2);
	margin-bottom: 1rem;
	flex-flow: column;
	flex-grow: 1;
	display: flex;
	overflow: hidden;
}

.job-details {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
}
.grid-zone--job-details {
	flex: 1 1 40%;
	margin-right: 1rem;
}
.job-details-overview {
	background: rgba(113, 189, 255, .03);
	padding: 0 2rem ;
}
.job-details-request {
	background: rgba(113, 189, 255, .03);
	padding: 0 2rem;
	flex-grow: 1;
}

.progress {
	padding: 1rem .25rem;
}
.progress .current {
	fill: #4DACFF;
	opacity: 0;
}
.progress .complete {
	fill: #FFF;
	opacity: 0;
}
.progress--step-1 .step1 {opacity: 1;}
.progress--step-2 .step2 {opacity: 1;}
.progress--step-3 .step3 {opacity: 1;}
.progress--step-4 .step4 {opacity: 1;}
.progress--step-5 .step5 {opacity: 1;}

.job-details__content {
	height: 100%;
	flex-flow: column;
	display: flex;
	flex-grow: 1;
	padding: 0;
}

.job-details__meta {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: .75rem;
	line-height: 24px;
	align-items: center;
}
.job-details__meta__label {
	font-size: 14px;
	color: #fff;
	flex: 0 0 6rem;
}
.job-details__meta__input {
	flex: 0 0 10rem;
}
.job-details__meta__value {
	flex: 0 0 10rem;
	text-align: left;
	line-height: 1.3;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	background:#172635;
	padding: 0.5rem .75rem;
	white-space: normal;
	width: 100%;
}
.job-details__meta__value--extended {
	flex: 1 0 100%;
	min-height: 3rem;
	margin-top: .5rem;
}
.job-details__meta__value--extended textarea {
	font-family: var(--fontFamily, "Open Sans", sans-serif);
	font-size: 1rem;
	padding: .5rem .25rem;
	box-sizing: border-box;
	height: 4.25rem;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 3px;
	color: rgb(0, 0, 0);
	resize: none;
}

.job-details__equipment-event-log {
	background: rgba(113, 189, 255, .03);
	padding: 0rem .5rem;
	display: flex;
	flex-grow: 1;
	flex-flow: column nowrap;
	flex-shrink: 0;
}

.job-details__equipment-event-log__label {
	font-size: 14px;
	margin-left: .5rem;
	color: #989898;
}
.job-details__equipment-event-log .rux-log {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	overflow: hidden;
	background: rgb(24, 38, 53);
	margin-top: .5rem;
	height: 300px;
}
.job-details-request__subheader {
	font-size: 14px;
	margin-bottom: .5rem;
}
.job-details-request__content {
	font-size: 14px;
}

.job-details-request__actions .rux-button{
	margin: 0 auto 2rem;
}

.rux-select {
	padding-right: 2rem;
	line-height: 1.5rem;
}


.grid-zone--conflicts {
	flex: 1 1 60%;
}

.grid-zone__content.conflict-log {
	background: rgba(113, 189, 255, .03);
	padding: 1rem .5rem .5rem;
}


.conflict-log {
	display: flex;
	flex-flow: column;
	font-size: 0.9rem;
}

.conflict-log-header {
	display: flex;
	flex: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
}

.conflict-log__header-labels {
	display: flex;
	flex-grow: 1;
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
	font-weight: bold;
	flex-shrink: 0;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0.5rem;
	padding-right: 1.5rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	border-width: 1px 0;
}

.conflict-log__events {
	padding: 0;
	margin: 0;
	list-style: none;
}

.conflict-log__events {
	height: 100%;
	min-height: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.conflict-log__event {
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: 0.5rem;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.conflict-log__event:last-child {
	border-bottom: none;
}

.conflict-log__event__status {
	flex-grow: 0;
	flex-shrink: 0;
	width: 2rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
}

.conflict-log__event__iron,
.conflict-log__event__ground,
.conflict-log__event__doy,
.conflict-log__event__rev,
.conflict-log__event__aos,
.conflict-log__event__los,
.conflict-log__event__start,
.conflict-log__event__stop,
.conflict-log__event__equipment,
.conflict-log__event__state {
	flex: 0 0 15%;
	text-align: left;
	padding: 0 .7rem;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.conflict-log__event__iron 			  { flex: 0 0 4rem; }
.conflict-log__event__ground 			{ flex: 0 0 4rem; }
.conflict-log__event__doy 				{ flex: 0 0 3.5rem; }
.conflict-log__event__rev 				{ flex: 0 0 5rem; }
.conflict-log__event__aos,
.conflict-log__event__los,
.conflict-log__event__start,
.conflict-log__event__stop 		   { flex: 0 0 5rem; }
.conflict-log__event__equipment  { flex: 1 1 15rem; }
.conflict-log__event__state 		 { flex: 0 0 5rem; }


.job-details-request--edit-actions {
	display: flex;
	padding: 0 1rem 1.5rem;
	flex-flow: row nowrap;
	justify-content: flex-end;
}
.job-details-request--edit-actions .rux-button {
	display: flex;
	width: auto;
	flex: 0 0 auto;
	margin-left: .5rem;
}
