:host {
  --gridGutter: 0.5rem;
  --rightPaneWidth: 36vw;
  --appMenuDefault: #455d6e;
  --appMenuHover: #6a7d8b;
  --appMenuActive: #fff;
}

.grid-zone {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.grid-zone--header {
  flex: 1 0 100%;
}

.grid-zone--main {
  padding: 1rem 0 0 1rem;
  background-color: rgb(40, 63, 88);
  height: calc(100vh - 110px);
  flex: 1 0 calc(100vw - 15rem);
}
.grid-zone--main__content {
  /* background: #1D2F41;
	border: 1px solid rgba(255,255,255, .2); */
  overflow: hidden;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  position: relative;
}

.grid-zone--main .rux-tabs {
  position: relative;
}

.grid-zone-wrap {
  margin-bottom: 0.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
}

.rux-tabs::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgb(26, 40, 56);
  display: block;
  content: '';
  bottom: 0;
  z-index: 0;
}

.secondary-toolbar__tabs__tab {
  z-index: 1;
}

.grid-zone--main__content .rux-tab-panel:not([hidden]) {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.grid-zone--sidebar {
  flex: 0 1 15rem;
  background: #1d2f41;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 0 1px 1px 0;
  padding: 2rem 0 0 1px;
}

.grid-zone__label {
  flex: none;
  background: rgba(20, 31, 44, 0.5);
  padding: 10px 15px;
  color: white;
  font-size: 1.35rem;
  font-weight: 300;
  flex-flow: row nowrap;
  justify-items: start;
  align-items: center;
  display: flex;
  justify-content: start;
}

.grid-zone__label .rux-status {
  margin-right: 0.5rem;
}

.grid-zone__content {
  overflow-y: auto;
  padding: 2rem;
}

/* Grid containers */
.app-grid {
  background: rgb(26, 40, 56);
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  height: 100vh;
  flex-grow: 1;
}

.rux-global-status-bar .app-meta {
  padding-left: 20px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    'icon appname'
    'icon username';
}
.rux-global-status-bar .app-meta__icon {
  grid-area: icon;
  fill: var(--appMenuDefault);
}
.rux-global-status-bar .app-meta__icon:hover {
  cursor: pointer;
  fill: var(--appMenuHover);
}

.rux-pop-up-menu[opened] ~ .rux-global-status-bar .app-meta__icon {
  fill: var(--appMenuActive);
}
.rux-global-status-bar .app-meta h1 {
  grid-area: appname;
  font-size: 28px;
  margin: 0;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}

.rux-global-status-bar .app-meta h1 span {
  font-weight: 600;
  margin-right: 10px;
}

.rux-global-status-bar .app-meta__username {
  grid-area: username;
  font-size: 12px;
  line-height: 12px;
}

.rux-global-status-bar .status-indicators {
  margin-right: 100px;
}

.job-detail__header {
  margin: 0.5rem 0 1.5rem 0.3rem;
  line-height: 21px;
}
.job-detail__header .rux-icon {
  vertical-align: bottom;
  margin-right: 0.5rem;
  fill: var(--appMenuDefault);
}
.job-detail__header a {
  cursor: pointer;
}
.job-detail__header a:hover .rux-icon {
  fill: var(--appMenuHover);
}

.job-detail__content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: hidden;
}

.hide-if--false-is-false {
  display: none;
}
.hide-if--true-is-true {
  display: none;
}
