<div class="app-grid">
	<div class="grid-zone grid-zone--header">

		<app-menu class="rux-pop-up-menu" menu-items="[[ menuItems ]]" target="{{ appMenuTarget }}"></app-menu>

		<rux-global-status-bar class="rux-global-status-bar">

			<div class="app-meta" on-click="displayPopUpMenu">

				<svg class="app-meta__icon" width="26px" height="26px" viewBox="0 0 26 26" version="1.1"
					xmlns="http://www.w3.org/2000/svg">
					<path stroke="none"
						d="M20,0 L24,0 C25.1045697,0 26,0.89543025 26,2 L26,6 C26,7.10456975 25.1045697,8 24,8 L20,8 C18.8954303,8 18,7.10456975 18,6 L18,2 C18,0.89543025 18.8954303,0 20,0 Z M20,2 L20,6 L24,6 L24,2 L20,2 Z M20,9 L24,9 C25.1045697,9 26,9.89543025 26,11 L26,15 C26,16.1045697 25.1045697,17 24,17 L20,17 C18.8954303,17 18,16.1045697 18,15 L18,11 C18,9.89543025 18.8954303,9 20,9 Z M20,11 L20,15 L24,15 L24,11 L20,11 Z M20,18 L24,18 C25.1045697,18 26,18.8954303 26,20 L26,24 C26,25.1045697 25.1045697,26 24,26 L20,26 C18.8954303,26 18,25.1045697 18,24 L18,20 C18,18.8954303 18.8954303,18 20,18 Z M20,20 L20,24 L24,24 L24,20 L20,20 Z M11,0 L15,0 C16.1045697,0 17,0.89543025 17,2 L17,6 C17,7.10456975 16.1045697,8 15,8 L11,8 C9.89543025,8 9,7.10456975 9,6 L9,2 C9,0.89543025 9.89543025,0 11,0 Z M11,2 L11,6 L15,6 L15,2 L11,2 Z M11,9 L15,9 C16.1045697,9 17,9.89543025 17,11 L17,15 C17,16.1045697 16.1045697,17 15,17 L11,17 C9.89543025,17 9,16.1045697 9,15 L9,11 C9,9.89543025 9.89543025,9 11,9 Z M11,11 L11,15 L15,15 L15,11 L11,11 Z M11,18 L15,18 C16.1045697,18 17,18.8954303 17,20 L17,24 C17,25.1045697 16.1045697,26 15,26 L11,26 C9.89543025,26 9,25.1045697 9,24 L9,20 C9,18.8954303 9.89543025,18 11,18 Z M11,20 L11,24 L15,24 L15,20 L11,20 Z M2,0 L6,0 C7.10456975,0 8,0.89543025 8,2 L8,6 C8,7.10456975 7.10456975,8 6,8 L2,8 C0.89543025,8 0,7.10456975 0,6 L0,2 C0,0.89543025 0.89543025,0 2,0 Z M2,2 L2,6 L6,6 L6,2 L2,2 Z M2,9 L6,9 C7.10456975,9 8,9.89543025 8,11 L8,15 C8,16.1045697 7.10456975,17 6,17 L2,17 C0.89543025,17 0,16.1045697 0,15 L0,11 C0,9.89543025 0.89543025,9 2,9 Z M2,11 L2,15 L6,15 L6,11 L2,11 Z M2,18 L6,18 C7.10456975,18 8,18.8954303 8,20 L8,24 C8,25.1045697 7.10456975,26 6,26 L2,26 C0.89543025,26 0,25.1045697 0,24 L0,20 C0,18.8954303 0.89543025,18 2,18 Z M2,20 L2,24 L6,24 L6,20 L2,20 Z">
					</path>
				</svg>

				<h1><span>GRM</span>Equipment Manager</h1>
				<div class="app-meta__username">[[ user.name ]]</div>
			</div>

			<rux-clock class="rux-clock"></rux-clock>

			<status-indicators class="status-indicators" status="{{statusData}}"></status-indicators>

		</rux-global-status-bar>

	</div>

	<div class$="grid-zone grid-zone--sidebar hide-if--[[ !jobDetail ]]-is-false">
		<equipment-tree compact data="[[treeData]]"></equipment-tree>
	</div>


	<!-- OVERVIEW -->
	<div class$="grid-zone grid-zone--main hide-if--[[ !jobDetail ]]-is-false">
		
		<div class="grid-zone--main__subheader main__tabs">
				<div class="grid-zone-wrap">
			<rux-tabs id="mainTabs" class="rux-tabs" compact tabs={{dynamicTabs}}>

			<template is="dom-repeat" id="dynamicTabs" items={{dynamicTabs}} mutable-data>
				<rux-tab id=[[item.id]] class="secondary-toolbar__tabs__tab" role="tab" target-tab=[[item.targetTab]]
					dynamic=[[item.dynamic]] selected={{item.selected}}>[[item.label]]</rux-tab>
			</template>

			<array-selector id="selector" items="{{dynamicTabs}}" selected="{{selectedTab}}">
			</array-selector>
			</rux-tabs>
		</div>
		</div>

		<rux-tab-panels aria-labeledby="mainTabs" class="grid-zone grid-zone--main__content">

			<rux-tab-panel aria-labeledby="overview-tab" role="tabpanel" class="grid-zone">
				<equipment-overview equipment="[[treeData]]"></equipment-overview>
			</rux-tab-panel>

			<rux-tab-panel class="grid-zone" aria-labeledby="dynamic-tab" role="tabpanel">
				<equipment-tab notification-open="[[notificationOpen]]" notification-message="[[notificationMessage]]"
					selected-equipment="[[selectedTab]]"></equipment-tab>
			</rux-tab-panel>

		</rux-tab-panels>
	</div>


	<!-- JOB DETAIL -->
	<div class$="grid-zone grid-zone--main hide-if--[[ !jobDetail ]]-is-true">
		<div class="job-detail__header">
			<a on-click="exitJobDetails">
				<svg class="rux-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
					<path fill-rule="evenodd"
						d="M20,9.63735558 L20,11.3626444 C20,11.8388984 19.8528094,12.2455054 19.5584239,12.5824775 C19.2640384,12.9194497 18.8813429,13.0879332 18.4103261,13.0879332 L8.8451087,13.0879332 L12.826087,17.050706 C13.1702916,17.3741993 13.3423913,17.7785598 13.3423913,18.2637997 C13.3423913,18.7490397 13.1702916,19.1534002 12.826087,19.4768935 L11.8070652,20.5012837 C11.4719186,20.8337629 11.064314,21 10.5842391,21 C10.1132223,21 9.70108872,20.8337629 9.34782609,20.5012837 L0.502717391,11.7130937 C0.167570788,11.3806145 -1.12631321e-16,10.976254 0,10.5 C-1.12631321e-16,10.0327319 0.167570788,9.62387852 0.502717391,9.27342747 L9.34782609,0.512195122 C9.69203071,0.17073 10.1041643,0 10.5842391,0 C11.055256,0 11.4628606,0.17073 11.8070652,0.512195122 L12.826087,1.50962773 C13.1702916,1.85109285 13.3423913,2.25994627 13.3423913,2.73620026 C13.3423913,3.21245424 13.1702916,3.62130766 12.826087,3.96277279 L8.8451087,7.91206675 L18.4103261,7.91206675 C18.8813429,7.91206675 19.2640384,8.0805503 19.5584239,8.41752246 C19.8528094,8.75449462 20,9.1611016 20,9.63735558 Z" />
				</svg>
				Equipment Manager
			</a>
			/
			<template is="dom-if" if="{{ jobDetail.id }}">
				Maintenance Details
			</template>
			<template is="dom-if" if="{{ !jobDetail.id }}">
				Schedule Maintenance 
			</template>
		</div>
		<div class="job-detail__content">
			<maintenance-detail job="[[ jobDetail ]]" edit-mode="[[ editJobMode ]]"></maintenance-detail>
		</div>
	</div>


</div>